/* page title in the header is duplicated to h1 on mobile */
header > div > strong {
    display: none;
}

@media screen and (max-width: $mobile-breakpoint) {
    .markdown figure img {
        padding: 0 2rem;
    }

    .markdown .book-columns > div:has(> img) {
        padding: 0;
    }
}

@media screen and (min-width: $mobile-breakpoint) {
    .markdown {
        figure {
            text-align: center;

            img {
                max-width: 25rem;
            }
        }
    }
}
